# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
*.csv
*.log
fileindexer
.idea/codeStyles/codeStyleConfig.xml
index_h.sh
index_i.sh
index_j.sh
index_d.sh
index_e.sh
.idea/dataSources.xml
.idea/sqldialects.xml
